@CHARSET "UTF-8";
*{
	margin:0;
	padding: 0; 
}
.header{
	width:100%;
	background-color: #3385FF;
	height:4%;
	padding:20px 0px;
	
}
h2{
	color:white;
	text-align:center;
}
.left{
	float: left;
	width:12%;
	background-color:#3385FF;
	height:90%;
	clear:both;
	margin-top:1px;
}
li{
	padding:10px 30px;
	font-size:20px;
	font-weight:bold;
	border-bottom:1px solid white;
	
}
li a{
	text-decoration:none;
	color:white;
}
.context{
	float:left;
	width:85%;
	height:90%;
	background-color:#F8FFFA;
}
table{
	margin:90px 380px;
	height:30px;
}
table tr{
	height:50px;
}
.td{
	font-size:18px;
	font-weight:bold;
}
.input{
	height:30px;
	width:250px;
}
.button {
	width: 100px;
	height: 30px;
	position: relative;
	left: 50px;
}
.button1 {
	width: 100px;
	height: 30px;
	position: relative;
	left: 80px;
}