*{
    margin:0px;
    padding:0px;
}
  .person{position: relative; margin: 10px; }
  .person p{color:#813E57;padding-bottom:10px;}
  .person button{margin-bottom: 3px;padding:5px 10px 5px 10px;}
  .person h4{color: blue;}
  .person span{color: red;}
  .person button:hover{cursor: pointer; font-weight: bold;}
  .clear{clear: both;}
body{
    background:#e5e6d0;
}
#header,#menu,#banner,#main,#footer{
    margin:0px auto;
    width:1100px;
}
#header{
    height:90px;
    background:#3385FF;
}
#header h1{
    float:left;
    margin-top:30px;
}
#header h1 a{
    width:600px;
    height:100px;
    display:block;
    color:#FFFFFF;
    text-align:center;
    text-decoration:none;
}
#header ul{
    float:left;
    padding:50px 0px 0px 100px;
    list-style:none;
}
#header ul li{
    float:left;
    padding:0px 20px;
}
#header ul li a{
    color:#FFFFFF;
    text-decoration:none;
    font-size:20px;
}
#header ul li a:hover{
    color:#000;
    text-decoration:underline;
}
.clear{
    clear:both;
}
#menu{
    padding-top:3px;
}
#menu ul{
    list-style:none;
}
#menu ul li{
    float:left;
}
#menu ul li a{
    color:#660066;
    text-decoration:none;
    text-align:center;
    display:block;
    width:135px;
    height:56px;
    line-height:56px;
    font-size:25px;
}
#menu ul li a:hover{
    background:#177cb7;
}
#menu ul li ul{
    display:none;
    width:135px;
    position:absolute;
    background:#C0c0c0;
}
#menu ul li:hover ul{
    display:block;
}
#menu ul li ul li{
    width:135px;
}
#menu ul li ul li a{
    width:135px;
}
#menu ul li ul li a:hover{
    background:#BBFFFF;
}

#main{
    padding:10px 10px;
}
#main .container{
    width:900px;
    float:left;
}
#main .container dl{
    width:430px;
    float:left;
}
#main .container dl h5,#main .product h5{
    border-bottom:1px solid #000;
    margin-bottom:15px;
    font-size:25px;
}
#main .container dl h5 a{
    margin:0 auto;
    text-decoration:none;
}
#main .container dl dt img{
    float:left;
    width:150px;
    hight:250px;
}

#main .container dl.xuexiao{
    margin-right:20px;
}
#main .container dl.xuexiao dd{
    font-size:16px;
    margin-left:25px;
    float:left;
    width:240px;
    text-indent:2em;
}
#main .container dd.remen a{
	color:#000000;
    text-decoration:none;
    padding-left:10px;
}
#main .container  dl.xinwen dd{
    border-bottom:1px solid #d4d4d4;
    list-style:none;
}
#main .container dl.xinwen dd a{
    display:block;
    color:#3385FF;
    font-weight:bolder;
    text-decoration:none;
    background:none;
    height:35px;
    line-height:35px;
    font-size:18px;
}
#main .container dl.xinwen dd:hover{
    background: #FFFFFF;
}
#main .product{
    padding-top:20px;
}

#main .product h5 a{
    margin:0px auto;
    text-decoration:none;
}
#main .product h5{
	padding-top:35px;
}
#main .product ul li{
    float:left;
    padding-left:10px;
    list-style:none;
}
#main .product ul li a{
    text-decoration:none;
}
#main .subMenu{
    width:200px;
    float:left;
    margin:10px 0px;
}
#main .subMenu h2{
    background:#19577c;
    height:39px;
    text-align:center;
    color:#fff;
    line-height:39px;
}
#main .subMenu ul li{
    border-bottom:1px solid #d4d4d4;
    background:#f1f1f1;
    list-style:none;
}
#main .subMenu ul li a{
    display:block;
    text-align:center;
    color:#000;
    text-decoration:none;
    background:none;
    height:50px;
    line-height:50px;
    font-size:28px;
}
#main .subMenu ul li a:hover{
    color:#177cb7;
    background:none;
}
#footer{
    background:#d1dce3;
    height:50px;
    line-height:50px;
    font-size:15px;
    text-align:center;
}
.post{
	border-bottom:3px solid #888888;
}
.more{
	color:#177cb7;
}
.comments{
	color:#551A8B;
}
.title a{
	color:#4688F5;
}
.byline{
	color:#813E57;
}
.context{
	padding:20px;
}
.th{
	font-size:18px;
	font-weight:bold;
}
.en{
	width:50px;
	font-weight:bold;
	height:25px;
}