@CHARSET "UTF-8";
body {
 	background-image: url(../image/image5.jpg);
}

h2 {
	text-align: center;
	margin-top: -2px;
	margin-bottom: 5px;
	padding-top:10px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid #A6A6A6;
	color: #A6A6A6;
}
.context{
	position: relative;
	margin-top:100px;
	margin-left:36%;
	background-color:white;
	width:300px;
	height:55%;
	padding:10px 30px;
}
.td {
	font-weight: bold;
	font-size: 14px;
}

en {
	color: red;
}

.input {
	width: 300px;
	height: 30px;
	margin-bottom: 5px;
}

.t {
	border-bottom: 1px solid #A6A6A6;
}

.submit {
	width: 100px;
	height: 30px;
	position: relative;
	margin: 10px 15px;
	border-radius: 8px;
	background-color: #FF7200;
}

.submit:hover {
	background-color: #F62B00;
	font-weight:bold;
	cursor: pointer;
}
